.row
  .pull-right
    = link_to t('author.new').capitalize, new_author_path(), :class => 'btn'
.row.bit-center
  %table.table.table-striped.table-hover
    %thead
      %th.center-table
        %td
          = link_to t('homepage.name').capitalize, authors_path( :sort_by => :name )
          .order.pull-right
            %a
              %i.icon-angle-up
            %a
              %i.icon-angle-down
        %td
          = link_to t('author.born').capitalize, authors_path( :sort_by => :born )
          .order.pull-right
            %a
              %i.icon-angle-up
            %a
              %i.icon-angle-down
        %td
          = link_to t('author.died').capitalize, authors_path( :sort_by => :died )
          .order.pull-right
            %a
              %i.icon-angle-up
            %a
              %i.icon-angle-down
    %tbody  
      
      - @query.each do |author|
        %tr.clickable{:onclick => "location.href='#{author_info_path(:author => raw_name_to_url( author.name ))}'"}
          %td.author-thumb= image_tag author.avatar.url(:thumb)
          %td.author-name= author.name
          %td.author-born
            - if author.born
              = l author.born, :format => :short
          %td.author-born
            - if author.died
              = l author.died, :format => :short
