= simple_form_for @author, :html => { :class => 'form-horizontal', multipart:true }  do |f|
	.form-actions
		= f.input :name
		= f.input :born
		= f.input :died
		= f.input :avatar, :as => :file, :label => "Image"
		= f.input :biography, :as => :text
		= f.submit nil, :class => 'btn btn-primary'
		= link_to "Cancel", nil, :class => 'btn'