.row
  .pull-right
    = link_to t('book.new').capitalize, new_book_path(), :class => 'btn'
.row.bit-center
  %table.table-striped.table-hover.table-condensed.hundret.table-bordered
    %thead
      %tr
        %td= t('homepage.preview').capitalize
        %td.center= t('homepage.information').capitalize
        
    %tbody
    - Book.find(:all).each do |book|
      %tr.clickable{:onclick => generate_onclick(book_root_path(:book => raw_name_to_url(book.name)))}
        %td.preview-image
          =image_tag( book.image(:thumb))
        %td.list-information
          %dl.dl-horizontal
            %dt
              %i.icon-file{:title => t('name').capitalize}
            %dd= book.name
            
            - if book.description
              %dt
                %i.icon-th{:title => t('description').capitalize}
              %dd= truncate(book.description, :length => 260)
            - if book.author && book.author.name
              %dt
                %i.icon-star{:title => t('author.author').capitalize}
              %dd.minor-margin-bottom= link_to book.author.name, author_info_path(:author => raw_name_to_url(book.author.name)), :class => 'btn'
            
            - if book.kind
              %dt
                %i.icon-th-list{:title => t('tags').capitalize}
              %dd
                .btn-group=render(:inline => tag_generator(book.kind))

    