%h1
  = @book.name
%h4
  .btn-group
    = raw(tag_generator(@book.kind))
  
.row.bit-center
  .pull-left.image-book-cover
    = image_tag @book.image, :class => "img-polaroid"
  -if @book.available
    %a{:href => book_download_path(:book =>  raw_name_to_url( @book.name ))}    
      .bookicon.first-icon.pull-left
        .iconv.center
          %i.icon-download-alt.icon-6x
        .textv.center
          %b Download
    %a{:href => book_lend_path(:book =>  raw_name_to_url( @book.name ))}       
      .bookicon.pull-left
        .iconv.center
          %i.icon-book.icon-6x
        .textv.center
          %b Lend 
  %a{:href => book_book_path(:book =>  raw_name_to_url( @book.name ))}     
    .bookicon.pull-left
      .iconv.center
        %i.icon-calendar.icon-6x
      .textv.center
        %b Book    

  %a{:href => book_stats_path(:book =>  raw_name_to_url( @book.name ))}        
    .bookicon.pull-left
      .iconv.center
        %i.icon-bar-chart.icon-6x
      .textv.center
        %b Stats
               
%dl.dl-horizontal

  -###############
  -# book's name #
  -###############
  %dt.book-name
    =t('homepage.name').capitalize
    %i.icon-double-angle-right
  %dd= @book.name
  
  -#######################
  -# book's release date #
  -#######################
  - if @book.release
    %dt.book-release
      =t('book.labels.release').capitalize
      %i.icon-double-angle-right
    %dd= Time.at(@book.release).utc.strftime(t('date.formats.default'))
  
  -#############################
  -# book's full/original name #
  -#############################
  - if @book.fullname
    %dt.book-fullname
      =t('book.labels.orig_name').capitalize
      %i.icon-double-angle-right
    %dd= @book.fullname or @book.name
  
  -#################
  -# book's author #
  -#################
  %dt.book-author
    =t('author.author').capitalize
    %i.icon-double-angle-right
  %dd= link_to @book.author.name, author_info_path(:author => raw_name_to_url(@book.author.name))
  
  -######################
  -# book's description #
  -######################
  - if @book.description
    %dt.book-description
      =t('book.labels.content').capitalize
      %i.icon-double-angle-right
    %dd.descriptionfield= @book.description
    
  -##############
  -# book links #
  -##############
  %dt.book-links
    =t('book.labels.links').capitalize
    %i.icon-double-angle-right
  %dd
    &nbsp;
    - @book.links.each do |link|
      = link_to link.label.capitalize, link.url, :class => 'btn', :target => '_blank'
      
    = link_to raw("<i class='icon-plus'></i>"), book_links_path(:book => raw_name_to_url(@book.name)), :class => 'btn pull-right'
    
  -################
  -# book's genre #
  -################
  - if @book.genre && @book.genre.name
    %dt.book-genres
      =t('book.labels.genre').capitalize
      %i.icon-double-angle-right
    %dd= link_to @book.genre.name, genre_view_path(:genre => @book.genre.name)
  
  -##################################
  -# book's flags                   #
  -# e.g. available or downloadable #
  -##################################
  %dt.flags
    =t('book.labels.flags').capitalize
    %i.icon-double-angle-right
  %dd test
  
  
  