-if current_user and :use_admin?
  !!!
  %html{:lang => I18n.locale}
    %head
      %title= @title or t 'homepage.title'
      
    
      %meta{:charset => Settings.page.encoding}
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
      %meta{:name => "author", :content => Settings.page.author}
    
      = stylesheet_link_tag  "admin", :media => "all"

      = csrf_meta_tags
    %body.linear-gradient-background.dimmed
      %nav.navbar-fixed-top.navbar
        .navbar-inner
          
          %ul.nav.pull-left
            %li.offset3=link_to 'Admin', admin_root_path, class: 'brand'
            
            
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-group
                Users and Groups
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/users/menu'
                %li.divider
                = render partial: 'admin/groups/menu'
              
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-cloud
                System
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/systems/menu'
                
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-book
                Books
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/books/menu'
              
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-leaf
                Genres
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/genres/menu'
              
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-retweet
                Tags
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/tags/menu' 
              
            %li.dropdown
              %a.dropdown-toggle#dLabel{role: "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
                %i.icon-user
                Authors
                %b.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                = render partial: 'admin/authors/menu'  
              
              
              
          %ul.pull-right.nav
            %li=link_to raw('<i class="icon-home">Home</i>'), :root
            %li=link_to raw('<i class="icon-signout">Sign out</i>'), :user_signout
            
      #wrapper.container
        .row
          .logo.pull-left.user-control-bar
      = javascript_include_tag "application"
- else
  - redirect to: :root