!!!
%html{:lang => "en"}
	%head
		%title= RPO
		
		
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%meta{:name => "author", :content => "author"}
		
		= stylesheet_link_tag  "application", :media => "all"

		= csrf_meta_tags
	%body.linear-gradient-background.dimmed
		#wrapper.container
			.row
				.logo
					= image_tag "http://www.cnmeonline.com/wp-content/uploads/2012/03/Akamai-300x128.png", :height => '72'
			%nav.row.navbar
				%nav.navbar-inner
					%ul.nav.pull-left
						%li
							= link_to 'Home', root_path
						%li.divider-vertical
						%li
							= link_to 'Books', '/books'
						%li.divider-vertical
						%li
							= link_to 'Authors', '/authors'	
						%li.divider-vertical
						%li
							= link_to 'Genres', '/genres'	
						%li.divider-vertical
						%li
							= link_to 'Tags', '/tags'	
													
					%ul.nav.pull-right
						%form.navbar-search.pull-right{:method=>'GET', :action=>'/search'}
							%input.search-query.search{:type=>'text',:placeholder=>"Search",:name=>"keyword"}
			
			- if flash_messages.nil?
				.row.warning.alert.alert-block.alert-info
					%button.close{:type=>'button', 'data-dismiss'=>'alert'} &times;
					= raw flash_messages
				
			.row
				= yield
	
		= javascript_include_tag "application"
		/[if lt IE 9]
			%script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
		%script
			$('.search').typeahead()
